*, *::after, *::before {
    margin: 0rem;
    padding: 0rem;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
}
body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    line-height: 1.7rem;
    color: #fff;
    background-color: #c1ade0;
    background-size: cover;
}
a {
    text-decoration: none;
    color: #fff;
    transition: all 0.5s ease-out;
}
ul, ol {
	list-style: none;
	margin: 0;
} 
.clear {
	clear: both;
}
.bg {
	width: 160rem;
	height: 100rem;
	background-image: url(../img/bg.svg);
	margin: 0rem auto;
	position: relative;
	box-shadow: 0 0rem 0rem -.0rem rgba(88,67,128,0.6);
	border-radius: 0rem;
	margin-bottom: 0rem;
    margin-top: 0rem;
}
.point {
	position: absolute;
	width: 1.3rem;
	height: 1.3rem;
	background-color: #9976dd;
	border-radius: 50%;
	cursor: pointer;
	background-image: url(../img/cross.svg);
	transition: .5s ease-in-out;
}
.point:hover {
	transform: rotate(90deg);
}

@keyframes waves {
  0% {
    transform: scale(0);
  }
  1% {
    opacity: .7;
  }
  5% {
    opacity: 0;
    transform: scale(1);
  }
}
.info {
	width: 25rem;
	height: 20rem;	
	position: absolute;
	top: 5rem;
    left: -8rem;
	transform: rotate(-90deg);
	display: none;
}
.point:hover .info {
	display: block;
}
.content_container {
	background-color: #dfdce3;
	box-shadow: 0 1rem 3.1rem -.4rem rgba(88,67,128,0.6);
	border-radius: .7rem;
	position: absolute;
	animation: appear 1s;
	transition: 1s;
}
.content_container:before {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	top: 5.5rem;
    left: 99%;
	border-style: solid;
	border-width: .75rem 0 .75rem .8rem;
	border-color: transparent transparent transparent #dfdce3;
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
	opacity: 0;
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
.title {
	width: 25rem;
	height: 4rem;
	background-color: #a58fdb;
	border-radius: .7rem .7rem 0 0;
	font-weight: 700;
	font-size: 1.5rem;
	padding: 1rem;
	text-align: center;
}
.text {
	padding: 2rem;
	font-size: 15px;
	line-height: 1.8rem;
	color: black;
    font-family:'Arial';
    font-weight: bold;
}
#madrid {
    top: 45rem;
    left: 83rem;
}
#andalucia {
    top: 83rem;
    left: 70rem;	
}
#andalucia::after {
	animation-delay: 1s;	
}
#asturias {
    top: 10rem;
    left: 65rem;
}
#asturias::after {
	animation-delay: 2s;
}
#aragon {
    top: 32rem;
    left: 110rem;
}
#aragon::after {
	animation-delay: 3s;
}
#cantabria {
    top: 10rem;
    left: 80rem;
}
#cantabria::after {
	animation-delay: 4s;
}
#catalunia {
    top: 27rem;
    left: 130rem;
}
#catalunia::after {
	animation-delay: 5s;
}
#valencia {
    top: 60rem;
    left: 113rem;
}
#valencia::after {
	animation-delay: 6s;
}
#murcia {
    top: 75rem;
    left: 104rem;
}
#murcia::after {
	animation-delay: 7s;
}
#galicia {
    top: 17rem;
    left: 45rem;
}
#galicia::after {
	animation-delay: 8s;
}
#pais_vasco {
    top: 13rem;
    left: 95rem;
}
#pais_vasco::after {
	animation-delay: 9s;
}
#navarra {
    top: 17rem;
    left: 100rem;
}
#navarra::after {
	animation-delay: 10s;
}
#extremadura {
    top: 60rem;
    left: 60rem;
}
#extremadura::after {
	animation-delay: 11s;
}
#rioja{
    top: 21rem;
    left: 95rem;
}
#rioja::after {
	animation-delay: 12s;
}

#castilla-la_mancha {
    top: 60rem;
    left: 90rem;
}
#castilla-la_mancha::after {
	animation-delay: 17s;
}
#castilla_leon {
	top: 29rem;
    left: 75rem;
}
#castilla_leon::after {
	animation-delay: 18s;
}





