* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body {
    background-repeat: no-repeat;
    background-image: url("../img/fondo\ celeste.jpg");
    background-attachment: fixed;
    background-size: cover
}

.form-register{ 
    width: 400px;
    background: #247dd6;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family:'calibri';
    color:black;
    box-shadow: 10px 13px 37px black ;
}

.form-register h4 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.controls {
    width: 100%;
    padding: 10px;
    border-radius: 5%;
    margin-bottom: 10px;
    font-family:'Calibri';
}

.form-register p{
    text-align: center;
    font-size: 18px;
    height: 30px;
}

.form-register a:hover{
    color: blue;
    text-decoration: underline;
}

.form-register a{
    text-decoration: none;
}
.form-register .botons{
    background-color: rgb(77, 166, 255);
    border-color: whitesmoke;
    color: white;
    font-size: 25px;
    font-size: 18;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 20px;
    margin-left: 60px;
}

.form-register .botons:hover{ 
background:rgb(156, 112, 156);
}